<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    overflow: hidden;
  }
  .scroll-container {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  .scroll-content {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  .scroll-content img {
    width: 200px;
    margin-right: 10px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animated-title {
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .bounce {
    animation: bounceAnimation 1s;
    mix-blend-mode: multiply;
  }

  @keyframes bounceAnimation {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>

<main class="main">
  <nav class="flex justify-between items-center p-2 bg-[#007bff]">
    <div class="flex items-center">
      <img
        src="https://i.redd.it/jeff-the-land-shark-v0-cb49etujjve81.jpg?s=e60f5dcffcf6db623005067147761382dac3d0d6"
        alt=""
        class="w-20"
      />
      <span class="m-2 font-bold text-white">{{ title }}</span>
    </div>
  </nav>
  <main class="flex items-center justify-center flex-wrap">
    <div>
      <img
        src="https://pbs.twimg.com/media/Fyitb8kWYAAS5fy.jpg"
        alt=""
        class="w-[400px] bounce"
      />
    </div>
    <div class="p-2">
      <h1 class="text-3xl font-bold animated-title">{{ title }}</h1>

      <p>
        Meet Jeff, Marvel's most adorable super hero yet. Known for his iconic
        "mrr," Jeff is a mischievous land shark with a knack for getting into
        trouble as he navigates life out of water. Armed with sharp teeth and
        disarming cuteness, he's both endearing and formidable. Dive into his
        adventures and discover why this bite-sized hero has become a Marvel
        icon, capturing the hearts of fans everywhere!
      </p>

      <br />
      <hr />
      <br />
      <section>
        <h1 class="text-2xl font-semibold">Gallery of Jeff</h1>
        <br />
        <div class="scroll-container">
          <div class="scroll-content">
            <img
              src="https://i.pinimg.com/originals/fe/25/6b/fe256bacfba8fadb625d4285f55f8379.jpg"
              alt=""
            />
            <img
              src="https://i.pinimg.com/originals/24/16/6b/24166bc4eb33ca7e060e0115a6ff3600.jpg"
              alt=""
            />
            <img
              src="https://i.pinimg.com/736x/90/b6/16/90b616719e9125c7ed3840d7dc81ae72.jpg"
              alt=""
            />
            <img
              src="https://i.pinimg.com/236x/be/08/21/be082154c88e2f6afc96ac14e2f8251e.jpg"
              alt=""
            />
            <img
              src="https://i.pinimg.com/236x/aa/ca/70/aaca7080b72fffe67a764153e20ce152.jpg"
              alt=""
            />
            <img
              src="https://i.pinimg.com/originals/5d/ea/55/5dea55e939e5db1d6ba989f67921c746.jpg"
              alt=""
            />
            <img
              src="https://i.pinimg.com/originals/a9/cc/d2/a9ccd2902f0eafa2c6af26078c74ea26.jpg"
              alt=""
            />
            <img
              src="https://i.pinimg.com/736x/30/b8/1d/30b81def9dcfbb658ae689a5bb912b88.jpg"
              alt=""
            />
          </div>
        </div>
        <br />
        <hr />
        <br />
      </section>
      <section class="flex flex-col justify-center flex-col">
        <h1 class="text-[1.7rem] font-semibold">
          How strong is Jeff the Shark
        </h1>

        <h2>Watch this clip</h2>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/qqv-9C0qNmk"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
    </div>
  </main>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
